In [9]:
import pandas as pd

## Making series

In [10]:
df = pd.Series([4753079,7261460,481772,740433713,604182517,429191505])
df

0      4753079
1      7261460
2       481772
3    740433713
4    604182517
5    429191505
dtype: int64

In [11]:
df.index=['Asia','Africa','Europe','North America','South America','Australia']
df

Asia               4753079
Africa             7261460
Europe              481772
North America    740433713
South America    604182517
Australia        429191505
dtype: int64

In [13]:
df.name = "World continents and its population"
df

Asia               4753079
Africa             7261460
Europe              481772
North America    740433713
South America    604182517
Australia        429191505
Name: World continents and its population, dtype: int64

## Fetching data by index

In [14]:
df["Africa"]

7261460

In [15]:
df[5]

429191505

## Method 2 making series

In [17]:
data = pd.Series([4753079,7261460,481772,740433713,604182517,429191505], index =['Asia','Africa','Europe','North America','South America','Australia'],name = "world continents and its population")
data

Asia               4753079
Africa             7261460
Europe              481772
North America    740433713
South America    604182517
Australia        429191505
Name: world continents and its population, dtype: int64

In [18]:
data.shape

(6,)

## Creating new series using existing series

In [21]:
data2 = pd.Series(data, index = ['Asia', 'Europe'])
data2

Asia      4753079
Europe     481772
Name: world continents and its population, dtype: int64

## Fetching multiple data

In [23]:
data[['Australia', 'North America', 'Europe']]

Australia        429191505
North America    740433713
Europe              481772
Name: world continents and its population, dtype: int64

## loc and iloc

In [26]:
data.loc['Asia']    #loc is used for texitual index

4753079

In [28]:
data.iloc[2]    #iloc is used for numerical index

481772

## Conditions and operators

In [29]:
data > 4000000

Asia              True
Africa            True
Europe           False
North America     True
South America     True
Australia         True
Name: world continents and its population, dtype: bool

In [30]:
data[data > 5000000]

Africa             7261460
North America    740433713
South America    604182517
Australia        429191505
Name: world continents and its population, dtype: int64

In [31]:
data * 0.005

Asia               23765.395
Africa             36307.300
Europe              2408.860
North America    3702168.565
South America    3020912.585
Australia        2145957.525
Name: world continents and its population, dtype: float64

In [34]:
data // 4000

Asia               1188
Africa             1815
Europe              120
North America    185108
South America    151045
Australia        107297
Name: world continents and its population, dtype: int64

In [35]:
data.mean()

297717341.0

In [36]:
data[["Asia", "Europe"]].mean()

2617425.5

In [37]:
data.describe()   #statistical analysis

count    6.000000e+00
mean     2.977173e+08
std      3.363765e+08
min      4.817720e+05
25%      5.380174e+06
50%      2.182265e+08
75%      5.604348e+08
max      7.404337e+08
Name: world continents and its population, dtype: float64

In [38]:
data.info()

<class 'pandas.core.series.Series'>
Index: 6 entries, Asia to Australia
Series name: world continents and its population
Non-Null Count  Dtype
--------------  -----
6 non-null      int64
dtypes: int64(1)
memory usage: 268.0+ bytes

## Change index

In [39]:
data.rename(index = {'Asia': 'Great Asia'})

Great Asia         4753079
Africa             7261460
Europe              481772
North America    740433713
South America    604182517
Australia        429191505
Name: world continents and its population, dtype: int64